/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* GENERAL STYLES */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
   
}

h1, h2, h3 {
  margin-bottom: 10px;
}

.container {
  padding: 40px 20px;
  max-width: 1000px;
  margin: auto;
}

/* PARALLAX HERO */
.hero {
  height: 50vh;
  background-color: black;
  background-size: cover;
  background-position: center;
  background-attachment: fixed; /* PARALLAX EFFECT */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(240, 236, 236);
  text-align: center;
}

.hero h1 {
  font-size: 3rem;
}

.hero p {
  font-size: 1.2rem;
}

/* ABOUT SECTION */
.about {
  display: flex;
  gap: 5px;
  align-items: center;
}

.about img {
  width: 200px;
  border-radius: 10px;
}

/* SKILLS */
.skills {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.skills li {
  list-style: none;
  background: #f4f4f4;
  padding: 10px 15px;
  border-radius: 5px;
}

/* PROJECTS */
.projects {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  flex: 1;
  min-width: 250px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  background: #222;
  color: white;
}

/* RESPONSIVENESS */
@media (max-width: 768px) {

  .hero h1 {
    font-size: 2rem;
  }

  .about {
    flex-direction: column;
    text-align: center;
  }

  .about img {
    width: 150px;
  }

  .projects {
    flex-direction: column;
  }
}
